#まず全部無視
*

#.gitignoreは無視から除外
!.gitignore

#特定のフォルダとその中の特定のファイルは無視から除外
!cs_study/
!cs_study/Program.cs

!if_study/
!if_study/Program.cs

!switch_study/
!switch_study/Program.cs

!for_study/
!for_study/Program.cs

!method_study/
!method_study/Program.cs